* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(189,189,189,1) 100%, rgba(0,212,255,1) 100%);
    min-width: 400px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#container {
    width: 400px;
    height: 500px;
    background-color: blanchedalmond;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

#header {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: 1.5px solid black;
}

#inputField{
    width: 60%;
    height: 100%;
    outline: none;
    border-radius: 0;
    padding-left: 5px;
}

#btn-add {
    width: 40%;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: #14213d;
    color: #ffffff;
}

#btn-add:hover{
    background-color: #000000;
}

#tasksContainer{
    width: 100%;
    word-wrap: break-word;
    overflow: auto;
    height: 450px;
    background-color: #e5e5e5;
}


/* dodać klase dla nowych paragrafów */


.taski {
    margin: 10px 7.5px 0 7.5px;
    /* border-bottom: 1px solid black; */
}